
h1{

    display: inline-block;
    position: relative;
    
}
h1::after,h1::before{
    content:'';
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: black;
    top: 0.6em;
}
h1::before{
    left:-140px;

}
h1::after{
 right:-140px
}

#mostrar-evento{
    width:200px;
    height: 30px;
    font-size: 20px;
    border-color: black;
font-style: oblique;
color: black;
   font-weight: 100;

}
#Añadir-evento{
    width:200px;
    height: 30px;
    font-size: 20px;
    border-color: black;
font-style: oblique;
color: black;
   font-weight: 100;

}
#evento{
    width:400px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(2, 104, 87);
    border-color: rgb(0, 0, 0);
    margin-top: 10px;
    color:white;
}
#fecha{
    width:400px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(2, 104, 87);
    border-color: rgb(0, 0, 0);
    margin-top: 10px;
    color:white;
}
body{
    text-align: center;
    
}
p{
    color: black;
    font-size: 15px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: red;
    background: rgb(169, 240, 228);
}
.container{

    width: 300px;
    height: 400px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size:15px;
    font-family:'cursive';
    
}
.parrafo{

  color: rgb(0, 0, 0);
  text-align: center;
  font-size:15px;
  font-family:'cursive';
  
}
p1{
    font-size:15px;
    text-align: center;
    border: 10px solid rebeccapurple;
    border-radius: 1em;
    border-top-right-radius: 10% 30%;
}
table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid rgb(0, 0, 0);
    
   
  }
  th {
    letter-spacing: 2px;
    text-align: center;
    
  }
  
  td {
    
    text-align: left;
    font-size: 15px;
  }
  tbody tr:nth-child(odd) {
    background-color: #00af98;
  }
  
  tbody tr:nth-child(even) {
    background-color: #49c9b8;
  }
  
 
  
  table {
    background-color: #00af98;
  }
  #map{
    border: 5px solid rgb(0, 0, 0);

  }
 